<head>
<title>Concierge API</title>
</head>

{% load static %}
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans+Condensed:300|Playfair+Display|Reem+Kufi|Roboto|Roboto+Condensed" rel="stylesheet">
<script src="https://use.fontawesome.com/4b484a50d4.js"></script>
<link href="{% static "base.css" %}" rel="stylesheet" type="text/css">
<div class="main-wrapper">
<div class="menu">
  <div class="menu-item"><a href="/">Concierge API</a></div>
  <div class="menu-item"><a href="profile"><i class="fa fa-user" aria-hidden="true"></i></a></div>
  <div class="menu-item"><a href="docs"><i class="fa fa-question-circle" aria-hidden="true"></i></a></div>
  <div class="menu-item"><a href="/logout"><i class="fa fa-times-rectangle" aria-hidden="true"></i></a></div>
 </div>
<div class="content">
{% block content %}
</div>
{% endblock %}
</div>
