html{
  min-height:100%;
}

button.rating{
  color:white;
  background-color:black;
  border:0;
}

div.stars{
  padding:5px;
}

div.menu-item{
  vertical-align: middle;
  color:white;
  display:table-cell;
  height:100%;
  text-align:center;
  width:10%;
}

.menu{
  background-color:#2980b9;
  height:50px;
  width:100%;
  margin:0px;
  display:table;
  table-layout:fixed;
}

.menu-item a{
  color:white;
  font-family:Lato;
  text-decoration:none;
  font-size:28px;
}
.menu-item a:hover{
  color:#000000;
}

.game-name{
  padding:20px;
  font-family:Lato;
}

.game-view{
  padding:20px;
}

div.game-rec{
  width:27.333333%;
  height:180px;
  float:left;
  padding: 30px 2% 30px 2%;
  margin: 1%;
  text-align:center;
  background-color:#f1c40f;
  color:white;
  display:table;
}

div.game-rec:hover{
  background-color:#000000;
}

.game-preview{
  display:none;
}

div.game-rec:hover .game-preview{
  display:inline;
}

div.game-rec:hover .game-rec-title{
  display:none;
}

div.game-rec-wrapper{
  display: table-cell;
  vertical-align: middle;
}

a.game-rec{
  color:white;
  font-family:Lato;
  text-decoration:none;
  font-size:28px;
}

li.menu{
  margin:5px;
  white-space:nowrap;
  display:inline-block;
}

body{
  background-color:#2ecc71;
  position:absolute;
  min-height:100%;
}

.main-wrapper{
  clear:both;
  overflow:auto;
  margin:auto;
  background-color:#ecf0f1;
  min-height:100%;
  width:80%;
  padding:0px;
  margin-top:20px;
}

input:after {
  content:"\a";
  white-space: pre;
  padding:0px;
}

.form-wrapper{
  text-align:center;
}
